<div class="modal-header">
    <h4 class="modal-title float-left">消息关键词限制</h4>
    <button type="button" class="close float-right" (click)="modalRef.close()">
        <span>&times;</span>
    </button>
</div>
<form (ngSubmit)="submit()">
    <div class="modal-body">
        <div class="form-group">
            <label for="target">限制对象</label>
            <textarea type="text" class="form-control" id="target" name="target" placeholder="" [(ngModel)]="viewModel.target" rows="2"></textarea>

        </div>
        <div class="form-group">
            <label for="remark">备注</label>
            <textarea class="form-control" [(ngModel)]="viewModel.remark" name="remark" id="remark" rows="2"></textarea>
            <small class="form-text text-muted">描述</small>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <!--<button type="button" class="btn btn-default" (click)="openModal2(templateNested)">open nested</button>-->
    </div>
</form>