
<div class="modal-header">
    <h4 class="modal-title float-left">自动添加机器人</h4>
    <button type="button" class="close float-right" (click)="modalRef.close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body p-0">
    <div class="px-3 py-2 clearfix">
        <button trip-button type="outline-primary" custom-class="px-2" (click)="refresh()">换一批</button>
        <div class="pull-right">
            <label class="float-left pt-2 pr-3">用户类型</label>
            <div class="float-right">
                <select name="type" id="type" class="form-control w-100" (change)="setRobotType($event)">
                    <option *ngFor="let type of userTypes" [value]="type.type">{{type.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>昵称</th>
                <th>用户名</th>
                <th>用户类型(默认)</th>
                <th>头像</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" *ngIf="!robots || robots.length == 0">
                    <i class="fa fa-spinner fa-pulse"></i>
                </td>
            </tr>
            <tr *ngFor="let robot of robots">
                <td>{{robot.nickname}}</td>
                <td>{{robot.username}}</td>
                <td>{{filterRobotType(robot.userType)}}</td>
                <td>
                    <div class="pic">
                        <img src="{{robot.avatar}}" alt="">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button trip-button type="primary" custom-class="px-2" (click)="sureAdd()" [disabled]="saveLoading">
        <i class="fa fa-spinner fa-pulse" *ngIf="saveLoading"></i>
        <span>确定</span>
    </button>
</div>