<div class="sidebar">
    <div class="sidebar-logo">
        <a href="javascript:;">
            <!--<img class="logo" src="https://qiniu.staticfile.org/static/images/qiniulogo.36f45871.svg">-->
        </a>
    </div>
    <div class="sidebar-body">
        <ul class="nav sidebar-nav">
            <li routerLinkActive="active">
                <a routerLink="organ" matTooltip="组织" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/员工.svg" />
                    <!--组织-->
                    <!--<img class="sidebar-nav-icon" src="https://qiniu.staticfile.org/static/images/sidebar/home.d5ece375.svg"/>-->
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="control" matTooltip="管控中心" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/安全.svg" />
                    <!--管控中心: 限制IP,限制消息-->
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="rooms" matTooltip="聊天室" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/企业.svg" />
                    <!--聊天室: -->
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="crm" matTooltip="客户关系" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/客户.svg" />
                    <!--客户关系: -->
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="work" matTooltip="事务处理" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/审批.svg" />
                    <!--事务处理: -->
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="financial" matTooltip="财务相关" [matTooltipPosition]="'right'">
                    <img class="sidebar-nav-icon" src="/images/运营.svg" />
                    <!--财务报表: -->
                </a>
            </li>
        </ul>
    </div>
</div>