@import "../variables";

.bg-input {
  min-height: 31px;
  line-height: 31px;
  background-color: $gray-100;
}
.textarea {
  min-height: 52px;
  padding: 5px 0;
  line-height: 21px;
  background-color: $gray-100;
}

label {
  height: 31px;
  line-height: 31px;
}