<div class="modal-header">
    <h4 class="modal-title">重置密码</h4>
    <button type="button" class="close float-right" (click)="close()">
        <span>&times;</span>
    </button>
</div> 

<form (ngSubmit)="submit()"> 
    <div class="modal-body">
        <div class="form-group">
            <label for="password">重置后的密码</label>
            <input type="text" id="password" name="password" class="form-control" [(ngModel)]="password">                
        </div>
    </div> 

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>