<div class="modal-header">
    <h4 class="modal-title">转账信息</h4>
    <button type="button" class="close float-right" (click)="modalRef.close()">
        <span>&times;</span>
    </button>
</div>

<form (ngSubmit)="submit()">
    <div class="modal-body">
        <div class="form-group">
            <label>账号: {{transaction.relationUsername}}</label>
        </div>
        <div class="form-group">
            <label for="transferType">转账方式</label>
            <select class="form-control" id="transferType" name="transferType"  [(ngModel)]="transaction.transferType">
                <option *ngFor="let type of transferTypes" [value]="type.type">{{type.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="money">金额</label>
            <input type="text" id="money" name="money" class="form-control" [(ngModel)]="transaction.money">
        </div>
        <div class="form-group">
            <label for="statement">说明</label>
            <textarea class="form-control" name="statement" id="statement" cols="30" rows="3" [(ngModel)]="transaction.statement"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>