@import "../rui/css/app-common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$border-color: #e6e9f0;
$border-line: 1px solid $border-color;



$label-font-color: #666f80;
$active-color-base: #1989fa;