@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./rui/css/app.pc.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/_custom-forms";


.cdk-overlay-container {
  z-index: $zindex-popover;
}
.mat-cell-width {
  flex: 3 !important;
}
.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}